.CSK {
    background-color: yellow;
}

.Mi {
    background-color: blue;
}

.LSG {
    background: red;
}

.pune {
    background: yellow;
}

.mumbai {
    background: blue;
}

.Nashik {
    background: red;
}

.stylingForHeading {
    background-color: ghostwhite;
    color: blue;
    font-size: 50px;
}